@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap");

html,
body * {
  font-family: "Nunito", sans-serif;
}

.categoriesbaslık {
  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.categories {
  background: #ffe259; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #e6a631,
    #ffe259
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #e6a631,
    #ffe259
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* paginate */

.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f37335;
}
.paginate li {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
